body{
    background-color: rgb(216, 237, 246);
    margin-bottom: 50px;
    transition: all 1s;
}
.bg{
    background-image: linear-gradient(white, skyblue);
    /* width: 90% !important;
    margin: 0 auto !important; */
}
.bg2{
    /* background-image: linear-gradient(white, skyblue); */
    width: 90% !important;
    /* margin: 40 auto !important; */
}
.check{
    color: white;
}
.dropdown-toggle, .dropdown-menu{
    background-color: rgb(216, 237, 246);
}

.bx-shd{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.txt-shd{
    text-shadow: 3px 0px 7px rgba(81,67,21,0.8), 
	  -3px 0px 7px rgba(81,67,21,0.8), 
	  0px 4px 7px rgba(81,67,21,0.8);
}

.trans{
    transition: all 1s ease;
    color: #198754;
    background-color: #f8f9fa;
}

#payment{
    border-radius: 15px;
}
#loancal {
    height: 500px;
}

.display{
    display: block;
}
.display_none{
    display: none;
}

.wrap{
    background-color: rgba(255, 255, 255);
    position: fixed !important;
    top: 0;
    left: 0;
    height: 100%; 
    width: 100%; 

}
.wrap_light{
    background-color: rgba(255, 255, 255, 0);
    transition: all 0.7s ease;
}
.wrap_backward{
    position: fixed !important;
    z-index: -5;
    top: 0;
    left: 0;
    height: 100%; 
    width: 100%; 
}